<!-- ajout d'un messgae "mesage bien envoyer" flash quand le formaulaire de contact a été bien envoyer -->

<!-- BUG : qd clique sur "Nous contactez" petite bordure bleu spawn +
    PAS RESPONSIVE-->
    <div class="container-fluid contain">
        <div class="row">
            <div class="col-3">
                <div class="footer-links">
                    <div class="row">
                        <div class="col-8">
                            <button type="button" id="btnModal" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal" data-whatever="@mdo">Nous contacter</button>                        
                            <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="exampleModalLabel">Nous contacter</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            <fieldset>
                                                <form action="contact">
                                                    <div class="form-row">
                                                        <div class="form-group col-md-6">
                                                            <label for="inputNom">Nom</label>
                                                            <input name ="nom" type="text" class="form-control" id="inputNom" placeholder="Nom" required>
                                                        </div>
                                                    </div>
                                                    <div class="form-row">
                                                        <div class="form-group col-md-6">
                                                            <label for="inputPrenom">Prénom</label>
                                                            <input name ="prenom" type="text" class="form-control" id="inputPrenom" placeholder="Prénom" required>
                                                        </div>
                                                    </div>
                                                    <div class="">
                                                        <div class="form-group">
                                                            <label for="inputMail">Mail</label>
                                                            <input name="email" type="email" class="form-control" id="inputMail" placeholder="mail@exemple.fr" required>
                                                        </div>
                                                    </div>
                                                    <div class="">
                                                        <div class="form-group">
                                                            <label name="titre" for="inputTextArea">Votre message</label>
                                                            <textarea name="message" class="form-control textArea" id="inputTextArea" rows="10" placeholder="Entrez votre texte ici"></textarea>
                                                        </div>
                                                    </div>
                                                </form>
                                            </fieldset>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
                                            <button type="button" class="btn btn-primary"><a routerLink="" class="dropdown-item">Envoyer</a></button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="newsletter">
                    <fieldset>
                        <div id="mc_embed_signup">
                            <form action="https://outlook.us3.list-manage.com/subscribe/post?u=7458edc5a2dedcda83f9d2c0a&amp;id=280f43050d" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>                                <div id="mc_embed_signup_scroll">
                                <label for="mce-EMAIL">S'inscrire </label><br>
                                <input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="adresse email" required>
                                <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                                <div style="position: absolute; left: -5000px;" aria-hidden="true">
                                    <input type="text" name="b_7458edc5a2dedcda83f9d2c0a_280f43050d" tabindex="-1" value=""></div>
                                    <div class="clear">
                                        <input type="submit" value="Envoyez" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
                                    </div>
                                </form>
                            </div>
                        </fieldset>
                    </div>
                </div>
                
                <div class="col-3">
                    <ul class="contactDirect">
                        <li>
                            <div>
                                <p>
                                    <img src="assets/pictures/mail_logoblue.png" class="mail">
                                    <a href="">mairie@effesceau.com</a></p>
                                </div>
                            </li>
                            <li>
                                <div>
                                    <p><img src="assets/pictures/telephone_logoblue.png" class="telephone">
                                        06 06 06 06 06</p>
                                    </div>
                                </li>
                            </ul>
                            <div class="">
                                <ul class="lienSociaux">
                                    <li>
                                        <div>
                                            <p><a href="/facebook" target="_blank"><img src="assets/pictures/facebook_logoblue.png" class="facebook"></a></p>
                                        </div>
                                    </li>
                                    <li>
                                        <div>
                                            <p><a href="/twitter" target="_blank"><img src="assets/pictures/logo_twitter.jpg" class="twitter"></a></p>
                                        </div>
                                    </li>
                                    <li>
                                        <div>
                                            <p><a href="/instagram" target="_blank"><img src="assets/pictures/logo_instagram.png" class="instagram"></a></p>
                                        </div>
                                    </li>     
                                </ul>
                            </div>
                        </div>
                        <div class="maps">
                            <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d22305.554912995514!2d1.9238764!3d45.6669983!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47f9a97890f5b06f%3A0x495bf6bf7b6d7904!2sPlateau+de+Millevaches!5e0!3m2!1sfr!2sfr!4v1561628561226!5m2!1sfr!2sfr" height="300" frameborder="0" style="border:0" allowfullscreen></iframe>                    
                        </div>
                    </div>
                </div>