.contain
{
    background-color: white;
    padding-top: 2%;
    padding-bottom: 2%;
    justify-content: space-between;
    height : 200px;
}
ul 
{
    list-style-type: none;
}

li
{
    margin-left: 3%;
    margin-right: 3%;
}
.titreModal
{
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 10%;
    padding-left: 5%;
}

#mc_embed_signup
{
    margin-left: 5%;

}
.email
{
    margin-bottom: 2%;
    width: 100%;
}
.buttonNews
{
    border-radius: 10%;
    border: 1px solid black;
    background-color: transparent;
}
.maps
{
    margin-right: 2%;
    height : 200px;

}

.lienSociaux
{
    margin-top : 10px;
    margin-left: 20px;
}

.facebook
{
    width: 40px;
}

.twitter
{
    width: 40px;
}

.instagram
{
    width: 40px;
}
.mail
{
    width: 40px;

}
.telephone
{
    width: 40px;
    margin-left : 10px;
}

.newsletter
{
    margin-top : -15px;
}

.contact
{
    margin-left : 20px;
}

#mc_embed_signup
{
    background-color : grey;
}
.btnContact
{
    background-color : grey;
}
#herefmail
{
    color : black;

}
