<div class="card-group p-2">
  <div *ngFor="let item of projects; index as i" class="card p-2 mx-2 border-0">
    <img [src]="item.imgProject" class="card-img-top" alt="photo du projet">
    <div class="card-body">
      <h4 class="card-title"> {{item.title}}</h4>
      <p class="card-text">{{ item.description }}</p>
      <p class="card-text text-center"><small class="text-muted">du {{ item.dateStart }} au {{ item.dateEnd }}</small></p>
      <p class="card-text text-center">Budget : {{ item.budget }}€</p>
    </div>

    <app-vote (newVote)="addNewVote()">Vote :</app-vote>
    <li *ngFor="let vote of votes">{{vote}}</li>
  </div>
</div>