<div class="content-fluid navbar-light bg-light">
  <ul class="nav justify-content-center">
    <li class="nav-item">
      <a class="nav-link" routerLink="/accueil">Accueil</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/equipe">Notre équipe</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/partenaires">Nos partenaires</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/connection">Me connecter</a>
    </li>
  </ul>
</div>