.titre_presentation {
  text-align: center;
  margin-top: 5%;
}

.texte_presentation {
  margin-top: 2%;
}

.jarallax {
  background: url(https://cdn.pixabay.com/photo/2016/11/07/00/49/vote-1804596_960_720.jpg);
  height: 500px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.ac_container {
  padding-top: 2%;
  padding-bottom: 2%;
}
