.titre_presentation {
  text-align: center;
}

.texte_presentation {
  margin-top: 2%;
}

.ac_container {
  padding-top: 2%;
  padding-bottom: 2%;
}
.btnBurger
{
  border-radius: 50%;
  width: 85px;
	height: 85px;
	background:blue;
	border-radius: 50%;
	border:none;
  color:white;
  margin-left: 10%;
  margin-right: 10%;
}
.carousel
{
  margin-bottom: 2%;
}
.burger
{
  padding-bottom: 2%;
  padding-top: 2%;
  background-color: #f8f9fa;
}
.maire 
{
  padding-right: 0%;
}
.texteMaire
{
  background-color: blue;
  color: white;
  padding-top: 2%;
  padding-bottom: 2%;
}
.photoMaire
{
  width: 100%;
  height: 100%;
}