<div class="container-fluid content">
    <h1 class="titre_presentation">REFEREND'HOMME</h1>
    
    
    <p class="text-center texte_presentation">La Mairie d'Effesceau vous propose de voter
        pour la construction de différentes infrasctructures.</p>
        <p class="text-center texte_presentation">Il est important pour nous de vous mettre au coeur de nos décisions.
        </p>
        <p class="text-center texte_presentation">Rejoignez-nous lors de nos différentes réunions et participez aux votes sur le projet en cours !
        </p>
        
    </div>
    
    <div class="carousel">
        <div class="bd-example">
            <div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel">
                <ol class="carousel-indicators">
                    <li data-target="#carouselExampleCaptions" data-slide-to="0" class="active"></li>
                    <li data-target="#carouselExampleCaptions" data-slide-to="1"></li>
                    <li data-target="#carouselExampleCaptions" data-slide-to="2"></li>
                </ol>
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img src="../../assets/pictures/feux.jpg" class="imgCarousel d-block w-100" alt="feux">
                        <div class="carousel-caption d-none d-md-block">
                            <h5 class="titre_carousel_feux">Feux d'artifice du 14 juillet</h5>
                            <p class="titre_carousel">Venez nombreux entre amis ou en famille pour admirer le feux d'artifice annuel</p>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <img src="../../assets/pictures/FSO.jpg" class="imgCarousel d-block w-100" alt="FSO">
                        <div class="carousel-caption d-none d-md-block">
                            <h5 class="titre_carousel_groupe">Le groupe FSO est de retour</h5>
                            <p class="titre_carousel">Ils reviennent sur le devant de la scène pour notre plus grand plaisir</p>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <img src="../../assets/pictures/corruption.jpg" class="imgCarousel d-block w-100" alt="corruption">
                        <div class="carousel-caption d-none d-md-block">
                            <h5 class="titre_carousel_maire">Le premier adjoint au Maire accusé de corruption</h5>
                            <p class="titre_carousel">Des pots de vin auraient été versé par l'adjoint du Maire</p>
                        </div>
                    </div>
                </div>
                <a class="carousel-control-prev" href="#carouselExampleCaptions" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carouselExampleCaptions" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
        </div>
    </div>
    <div class="burger text-center">
        <button class="btnBurger"><a class="lienBurger" routerLink="/projet">Projets en cours</a></button>
        <button class="btnBurger"><a class="lienBurger" href="">Projets réalisés</a></button>
        <button class="btnBurger"><a class="lienBurger" href="">Prochaines réunions</a></button>
    </div>
    <h1 class="titre_presentation">ACTUALITE DE LA SEMAINE</h1>
    <div class="container-fluid ac_container">
        <div class="infoMaire row justify-content-center">
            <div class="maire col-6">
                <img class="photoMaire" src="../../assets/pictures/maire.jpg" alt="Mr Petit le Maire" />
            </div>
            <div class="texteMaire col-md-6">
                <p>Cette semaine nous avons accueilli Madame Nathalie CORTES, habitante de la ville d'Effesceau, dans nos locaux.
                
                Madame CORTES est la porte parole de notre groupe "des idées plein la tête" pour améliorer le confort de nos habitants.
                Si comme Nathalie vous voulez vous investir dans la vie de votre ville, rejoignez-nous tous les premiers jeudis du mois pour parler des
                projets en cours et à venir.
                Vos idées sont également les bienvenues.
                C'est grâce à vous que la ville grandit et qu'elle a été élu pour la seconde fois ville où il fait bon vivre ! 
            </p>
        </div>
    </div>
</div>